@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
html {
    background-color: #FFFFFF;
}
body{
    margin: 0;
}
h2{
    font-size: 200%;
    margin-top: 5px;
    color: #FFFFFF;
}
h1{
    font-size: 400%;
    margin-bottom: 5px;
    color: #FFFFFF;
}
header{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color: #5603AD;
}
main {
    margin: 2%;
    background-color: #D8E2DC;
    padding: 3%;
    font-size: 200%;
}
footer {
    margin: 2%;
    text-align: end;
    color: #5603AD;
    background-color: #D8E2DC;
    padding: 3%;
    font-size: 150%;
}
img{
    width:30px;
}
a{
    text-decoration: none;
    color:#5603AD;
    margin: 5px;
}

#mainfooter{
    background-color: #5603AD;
    color: #5603AD;
}
.texto-imagem{
    display: flex;
    align-items: center;
}
.left{
    justify-content: end;
}

img:hover{
    transition: 1s;
    width: 50px;
}